body {
    margin: 0;
    padding: 0;
}


/* *****************Font Family************************* */

.roboto {
    font-family: 'roboto';
}

.montserrat {
    font-family: 'montserrat';
}


/* ******************COULEUR ***********************/


/* couleur text*/

.textBlanc {
    color: white;
}

.textBleuClair {
    color: #2ea7b0;
}

.textBleu {
    color: #13619d;
}


/* couleur bg */

.bgBlanc {
    background-color: white;
}

.bgBlancCasse {
    background-color: #f5f5f5;
}

.bgGris {
    background-color: #e6e6e6;
}

.bgBleuClair {
    background-color: #2ea7b0;
}

.bgBleuHoverPhone {
    background-color: #208087;
}

.bgBleuFonce {
    background-color: #084979;
}

.footerBottomBgColor {
    background-color: #10191f;
}

.bgBleuTransparent {
    background-color: #2ea7b07a;
}


/* couleur li */

li {
    color: #2ea7b0;
}


/**************   Z-Index   ********************/

.zindex1000 {
    z-index: 1000;
}

.zindex999 {
    z-index: 999;
}


/********************** Item ***********************/

.separatif {
    height: 1vh;
    width: 10%;
    background-color: #2ea7b0;
}


/* class pour superposer au dessus du carroussel */

.superPosition {
    width: 75%;
    margin: auto;
    margin-top: -20vh;
}


/************ NavBar *****************************/
nav{
    height: 80px;
    background-color: white;
}

nav a{
    height: 80px;
    text-decoration: none;

}

#logoMediQal{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#logoPresentation{
    background-image: url('../logoNavBar/logoPresentation.png')!important;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    border-left: solid 1px lightgrey;
}
#logoOffreSoin{
    background-image: url('../logoNavBar/logoOffreSoin.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    border-left: solid 1px lightgrey;
}
#logoActu{
    background-image: url('../logoNavBar/logoActu.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    border-left: solid 1px lightgrey;
}
#logoContact{
    background-image: url('../logoNavBar/logoContact.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    border-left: solid 1px lightgrey;
}
#logoTelephone{
    background-image: url('../logoNavBar/logoTelephone.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-color: #2ea7b0;
}
#logoDoctolib{
    background-image: url('../logoNavBar/logoDoctolib.png');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-color: #084979;
}
.shadowNavBar {
    box-shadow: 0px 5px 25px #000000b2 !important;
}

/* hover des items */

.hoverGris:hover {
    background-color: #e6e6e6;
}

.hoverBleu:hover {
    background-color: #208087 !important;
    color: white!important;
}


/* DropDown  */

.myDropdown {
    left: 14vw;
    padding-top: 100px;
    background-color: #e6e6e6;
}

.displayNone {
    display: none !important;
}

.myDropdown a:hover {
    color: #2ea7b0;
}


/************  Carroussel  ********************/

.placementCarroussel {
    margin-top: 80px;
}


/***************Avantage*************************/

.rondBorder {
    border: solid 2px #2ea7b0;
}

.rectangleBorder {
    border: solid 2px #2ea7b0;
}


/* Taille des cartes Avantages*/

.tailleCard {
    width: 30%;
}


/* hover card avantage*/

.avantageHover:hover {
    border: solid 2px #2ea7b0;
    box-shadow: 1px 1px 8px black;
}


/********************** slider ******************/

#slider {
    background-image: url(../imageSlider/backgroundSlider.png);
    background-repeat: no-repeat;
}

.imgSliderSize {
    height: 30vh;
    width: 10vw;
}


/*****************Actualité*********************/


/* bouton actu */

.boutonActu {
    background-color: white;
    border: solid 2px #2ea7b0;
    border-radius: 20px;
    font-family: 'roboto', 'sans-serif';
    height: 5vh;
    width: 12vw;
    padding: auto;
}


/* hover bouton actu */

.boutonActu:hover {
    color: white;
    background-color: #2ea7b0;
}


/*********************footer*******************/
footer{
    margin-top: 200px;

}
.footerBgImage {
    background-image: url(../imageFooter/bgFooter.png);
    background-position: center;
    height: 400px;
}


/* hover lien footer */

footer a:hover {
    color: #2ea7b0;
}